# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Build output
dist/
build/


# Ignorar imágenes
*.png
*.jpg
*.jpeg
*.gif
*.svg

# NO ignorar imágenes dentro de src/images/
!src/images/*.png
!src/images/*.jpg
!src/images/*.jpeg
!src/images/*.gif
!src/images/*.svg
