html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  background-color: white;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(90deg, rgba(199, 218, 233, 0.88) 0%, #5098CD 0.01%, #357AAB 46.5%, #3D83B5 85.5%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;

}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  display: block;
  margin: 15px auto;
  padding: 8px;


}


#login-container {
  margin-top: -10px;
}

#links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  margin-top: -110px;
}

/*Saco las flechitas de los inputs de tipo number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*Adaptar al modo oscuro en celulares*/
@media (prefers-color-scheme: dark) and (max-width: 768px) {
  body {
    background-color: #121212;
    color: white;
  }

  input {
    border: 1px solid white;
    color: white;
    background-color: #1e1e1e;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
    -webkit-text-fill-color: white !important;
  }

  #dni,
  #medication,
  #amount,
  #medication2,
  #amount2,
  #medication3,
  #amount3 {
    border: 1px solid white;
    color: white;
    background-color: black;
  }

  #titulo-solicitudes,
  #label-dni,
  #label-medication,
  #label-amount {
    color: white;
  }

  #medications-container {
    background-color: black;
  }




}

/*Spinner*/
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-spinner {
  border: 6px dotted rgba(15, 79, 141, 0.83);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: loading 2s infinite linear;
}

.loading-text {
  color: rgba(15, 79, 141, 0.83);
}

@media (prefers-color-scheme: dark) and (max-width: 768px) {
  .custom-spinner {
    border-color: white;
  }

  .loading-text {
    color: white;
  }
}
@media (min-height: 0px) and (max-height: 768px) and (min-width: 1024px) {
  .spinner-wrapper {
    bottom: 50px !important; /* o el valor que necesites */
  }
}



/*Color de filas de la tabla*/
tr.responsive-row {
  background-color: #f3f4f6;
}

tr.responsive-row td {
  color: #1e3a8a;
}

/*Color de filas de la tabla en celular con modo oscuro*/
@media (prefers-color-scheme: dark) and (max-width: 768px) {
  tr.responsive-row {
    background-color: #313030 !important;
  }

  tr.responsive-row td {
    color: #fff !important;
  }
}


/*Create User*/
.scroll-wrapper {
  padding: 4rem;
}

@media (max-height: 800px) {
  .scroll-wrapper {
    height: 100vh;
    overflow-y: auto;
  }

  /* Oculto la barra de scroll en todos los navegadores */
  .scroll-wrapper::-webkit-scrollbar {
    display: none;
  }

  .scroll-wrapper {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}